sudo: required
dist: trusty
language: python
services:
  - docker

script:
  - pip install -r tools/requirements.txt
  - python tools/swarm.py --help
  - python tools/swarm.py --config tests/test.json
  - python tests/clean_aws.py travis
